In [2]:
import pandas as pd

# Cargar el CSV limpio
ruta = r"C:\Users\pablo\proyecto\comparador\venta_madrid.csv"
df = pd.read_csv(ruta)

# Normalizar el texto del título para búsqueda
df["titulo_lower"] = df["titulo"].str.lower()

# Palabras clave y sus columnas nuevas
tipos = ["piso", "casa", "atico", "estudio", "apartamento", "duplex", "chalet", "finca", "loft"]

# Crear columnas booleanas
for tipo in tipos:
    col_name = f"es_{tipo}"
    df[col_name] = df["titulo_lower"].str.contains(rf"\b{tipo}\b", na=False)

# Eliminar columna temporal
df.drop(columns=["titulo_lower"], inplace=True)

# Guardar archivo actualizado
ruta_salida = r"C:\Users\pablo\proyecto\comparador\venta_con_tipos.csv"
df.to_csv(ruta_salida, index=False)

print(f"✅ Archivo con columnas de tipo guardado en:\n{ruta_salida}")

✅ Archivo con columnas de tipo guardado en:
C:\Users\pablo\proyecto\comparador\venta_con_tipos.csv

In [3]:
df[["titulo", "es_piso", "es_casa", "es_atico", "es_estudio", "es_apartamento", "es_duplex", "es_chalet", "es_finca", "es_loft"]].head(10)

,titulo,es_piso,es_casa,es_atico,es_estudio,es_apartamento,es_duplex,es_chalet,es_finca,es_loft
0,Piso en calle Luis Garcia Cereceda,True,False,False,False,False,False,False,False,False
1,Piso en calle Libertad,True,False,False,False,False,False,False,False,False
2,Casa unifamiliar en calle XIX,False,True,False,False,False,False,False,False,False
3,Piso en calle de Ponzano,True,False,False,False,False,False,False,False,False
4,Piso en Zona Avenida de Europa,True,False,False,False,False,False,False,False,False
5,"Piso en calle de Gravina, 15",True,False,False,False,False,False,False,False,False
6,Ático en La Navata,False,False,False,False,False,False,False,False,False
7,"Estudio en calle de Pollensa, 5",False,False,False,True,False,False,False,False,False
8,Piso en Colonia de los Ángeles,True,False,False,False,False,False,False,False,False
9,Piso en calle del Marqués de Lozoya,True,False,False,False,False,False,False,False,False